<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flymegoc.mapper.SprAppinfoMapper">
  <resultMap id="BaseResultMap" type="com.flymegoc.model.SprAppinfo">
    <id column="spr_appinfo_id" jdbcType="INTEGER" property="sprAppinfoId" />
    <result column="spr_appversion" jdbcType="REAL" property="sprAppversion" />
    <result column="spr_appname" jdbcType="VARCHAR" property="sprAppname" />
    <result column="spr_lastupdatetime" jdbcType="TIMESTAMP" property="sprLastupdatetime" />
    <result column="spr_updateinfo" jdbcType="VARCHAR" property="sprUpdateinfo" />
    <result column="spr_apkdownloadurl" jdbcType="VARCHAR" property="sprApkdownloadurl" />
    <result column="spr_create_time" jdbcType="TIMESTAMP" property="sprCreateTime" />
    <result column="spr_update_time" jdbcType="TIMESTAMP" property="sprUpdateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    spr_appinfo_id, spr_appversion, spr_appname, spr_lastupdatetime, spr_updateinfo, 
    spr_apkdownloadurl, spr_create_time, spr_update_time
  </sql>
  <select id="selectByExample" parameterType="com.flymegoc.model.SprAppinfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from spr_appinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from spr_appinfo
    where spr_appinfo_id = #{sprAppinfoId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from spr_appinfo
    where spr_appinfo_id = #{sprAppinfoId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.flymegoc.model.SprAppinfoExample">
    delete from spr_appinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.flymegoc.model.SprAppinfo">
    insert into spr_appinfo (spr_appinfo_id, spr_appversion, spr_appname, 
      spr_lastupdatetime, spr_updateinfo, spr_apkdownloadurl, 
      spr_create_time, spr_update_time)
    values (#{sprAppinfoId,jdbcType=INTEGER}, #{sprAppversion,jdbcType=REAL}, #{sprAppname,jdbcType=VARCHAR}, 
      #{sprLastupdatetime,jdbcType=TIMESTAMP}, #{sprUpdateinfo,jdbcType=VARCHAR}, #{sprApkdownloadurl,jdbcType=VARCHAR}, 
      #{sprCreateTime,jdbcType=TIMESTAMP}, #{sprUpdateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.flymegoc.model.SprAppinfo">
    insert into spr_appinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sprAppinfoId != null">
        spr_appinfo_id,
      </if>
      <if test="sprAppversion != null">
        spr_appversion,
      </if>
      <if test="sprAppname != null">
        spr_appname,
      </if>
      <if test="sprLastupdatetime != null">
        spr_lastupdatetime,
      </if>
      <if test="sprUpdateinfo != null">
        spr_updateinfo,
      </if>
      <if test="sprApkdownloadurl != null">
        spr_apkdownloadurl,
      </if>
      <if test="sprCreateTime != null">
        spr_create_time,
      </if>
      <if test="sprUpdateTime != null">
        spr_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sprAppinfoId != null">
        #{sprAppinfoId,jdbcType=INTEGER},
      </if>
      <if test="sprAppversion != null">
        #{sprAppversion,jdbcType=REAL},
      </if>
      <if test="sprAppname != null">
        #{sprAppname,jdbcType=VARCHAR},
      </if>
      <if test="sprLastupdatetime != null">
        #{sprLastupdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="sprUpdateinfo != null">
        #{sprUpdateinfo,jdbcType=VARCHAR},
      </if>
      <if test="sprApkdownloadurl != null">
        #{sprApkdownloadurl,jdbcType=VARCHAR},
      </if>
      <if test="sprCreateTime != null">
        #{sprCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sprUpdateTime != null">
        #{sprUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.flymegoc.model.SprAppinfoExample" resultType="java.lang.Long">
    select count(*) from spr_appinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update spr_appinfo
    <set>
      <if test="record.sprAppinfoId != null">
        spr_appinfo_id = #{record.sprAppinfoId,jdbcType=INTEGER},
      </if>
      <if test="record.sprAppversion != null">
        spr_appversion = #{record.sprAppversion,jdbcType=REAL},
      </if>
      <if test="record.sprAppname != null">
        spr_appname = #{record.sprAppname,jdbcType=VARCHAR},
      </if>
      <if test="record.sprLastupdatetime != null">
        spr_lastupdatetime = #{record.sprLastupdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sprUpdateinfo != null">
        spr_updateinfo = #{record.sprUpdateinfo,jdbcType=VARCHAR},
      </if>
      <if test="record.sprApkdownloadurl != null">
        spr_apkdownloadurl = #{record.sprApkdownloadurl,jdbcType=VARCHAR},
      </if>
      <if test="record.sprCreateTime != null">
        spr_create_time = #{record.sprCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sprUpdateTime != null">
        spr_update_time = #{record.sprUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update spr_appinfo
    set spr_appinfo_id = #{record.sprAppinfoId,jdbcType=INTEGER},
      spr_appversion = #{record.sprAppversion,jdbcType=REAL},
      spr_appname = #{record.sprAppname,jdbcType=VARCHAR},
      spr_lastupdatetime = #{record.sprLastupdatetime,jdbcType=TIMESTAMP},
      spr_updateinfo = #{record.sprUpdateinfo,jdbcType=VARCHAR},
      spr_apkdownloadurl = #{record.sprApkdownloadurl,jdbcType=VARCHAR},
      spr_create_time = #{record.sprCreateTime,jdbcType=TIMESTAMP},
      spr_update_time = #{record.sprUpdateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.flymegoc.model.SprAppinfo">
    update spr_appinfo
    <set>
      <if test="sprAppversion != null">
        spr_appversion = #{sprAppversion,jdbcType=REAL},
      </if>
      <if test="sprAppname != null">
        spr_appname = #{sprAppname,jdbcType=VARCHAR},
      </if>
      <if test="sprLastupdatetime != null">
        spr_lastupdatetime = #{sprLastupdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="sprUpdateinfo != null">
        spr_updateinfo = #{sprUpdateinfo,jdbcType=VARCHAR},
      </if>
      <if test="sprApkdownloadurl != null">
        spr_apkdownloadurl = #{sprApkdownloadurl,jdbcType=VARCHAR},
      </if>
      <if test="sprCreateTime != null">
        spr_create_time = #{sprCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sprUpdateTime != null">
        spr_update_time = #{sprUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where spr_appinfo_id = #{sprAppinfoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.flymegoc.model.SprAppinfo">
    update spr_appinfo
    set spr_appversion = #{sprAppversion,jdbcType=REAL},
      spr_appname = #{sprAppname,jdbcType=VARCHAR},
      spr_lastupdatetime = #{sprLastupdatetime,jdbcType=TIMESTAMP},
      spr_updateinfo = #{sprUpdateinfo,jdbcType=VARCHAR},
      spr_apkdownloadurl = #{sprApkdownloadurl,jdbcType=VARCHAR},
      spr_create_time = #{sprCreateTime,jdbcType=TIMESTAMP},
      spr_update_time = #{sprUpdateTime,jdbcType=TIMESTAMP}
    where spr_appinfo_id = #{sprAppinfoId,jdbcType=INTEGER}
  </update>
</mapper>