<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flymegoc.mapper.SprPictureMapper">
  <resultMap id="BaseResultMap" type="com.flymegoc.model.SprPicture">
    <id column="spr_picture_id" jdbcType="REAL" property="sprPictureId" />
    <result column="spr_picture_pinid" jdbcType="VARCHAR" property="sprPicturePinid" />
    <result column="spr_picture_boardid" jdbcType="VARCHAR" property="sprPictureBoardid" />
    <result column="spr_picture_bucket" jdbcType="VARCHAR" property="sprPictureBucket" />
    <result column="spr_picture_key" jdbcType="VARCHAR" property="sprPictureKey" />
    <result column="spr_picture_type" jdbcType="VARCHAR" property="sprPictureType" />
    <result column="spr_picture_width" jdbcType="INTEGER" property="sprPictureWidth" />
    <result column="spr_picture_height" jdbcType="INTEGER" property="sprPictureHeight" />
    <result column="spr_picture_ratio" jdbcType="DOUBLE" property="sprPictureRatio" />
    <result column="spr_picture_reads" jdbcType="INTEGER" property="sprPictureReads" />
    <result column="spr_picture_likes" jdbcType="INTEGER" property="sprPictureLikes" />
    <result column="spr_picture_categoryid" jdbcType="INTEGER" property="sprPictureCategoryid" />
    <result column="spr_picture_create_time" jdbcType="TIMESTAMP" property="sprPictureCreateTime" />
    <result column="spr_picture_update_time" jdbcType="TIMESTAMP" property="sprPictureUpdateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    spr_picture_id, spr_picture_pinid, spr_picture_boardid, spr_picture_bucket, spr_picture_key, 
    spr_picture_type, spr_picture_width, spr_picture_height, spr_picture_ratio, spr_picture_reads, 
    spr_picture_likes, spr_picture_categoryid, spr_picture_create_time, spr_picture_update_time
  </sql>
  <select id="selectByExample" parameterType="com.flymegoc.model.SprPictureExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from spr_picture
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Float" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from spr_picture
    where spr_picture_id = #{sprPictureId,jdbcType=REAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Float">
    delete from spr_picture
    where spr_picture_id = #{sprPictureId,jdbcType=REAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.flymegoc.model.SprPictureExample">
    delete from spr_picture
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.flymegoc.model.SprPicture">
    insert into spr_picture (spr_picture_id, spr_picture_pinid, spr_picture_boardid, 
      spr_picture_bucket, spr_picture_key, spr_picture_type, 
      spr_picture_width, spr_picture_height, spr_picture_ratio, 
      spr_picture_reads, spr_picture_likes, spr_picture_categoryid, 
      spr_picture_create_time, spr_picture_update_time
      )
    values (#{sprPictureId,jdbcType=REAL}, #{sprPicturePinid,jdbcType=VARCHAR}, #{sprPictureBoardid,jdbcType=VARCHAR}, 
      #{sprPictureBucket,jdbcType=VARCHAR}, #{sprPictureKey,jdbcType=VARCHAR}, #{sprPictureType,jdbcType=VARCHAR}, 
      #{sprPictureWidth,jdbcType=INTEGER}, #{sprPictureHeight,jdbcType=INTEGER}, #{sprPictureRatio,jdbcType=DOUBLE}, 
      #{sprPictureReads,jdbcType=INTEGER}, #{sprPictureLikes,jdbcType=INTEGER}, #{sprPictureCategoryid,jdbcType=INTEGER}, 
      #{sprPictureCreateTime,jdbcType=TIMESTAMP}, #{sprPictureUpdateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.flymegoc.model.SprPicture">
    insert into spr_picture
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sprPictureId != null">
        spr_picture_id,
      </if>
      <if test="sprPicturePinid != null">
        spr_picture_pinid,
      </if>
      <if test="sprPictureBoardid != null">
        spr_picture_boardid,
      </if>
      <if test="sprPictureBucket != null">
        spr_picture_bucket,
      </if>
      <if test="sprPictureKey != null">
        spr_picture_key,
      </if>
      <if test="sprPictureType != null">
        spr_picture_type,
      </if>
      <if test="sprPictureWidth != null">
        spr_picture_width,
      </if>
      <if test="sprPictureHeight != null">
        spr_picture_height,
      </if>
      <if test="sprPictureRatio != null">
        spr_picture_ratio,
      </if>
      <if test="sprPictureReads != null">
        spr_picture_reads,
      </if>
      <if test="sprPictureLikes != null">
        spr_picture_likes,
      </if>
      <if test="sprPictureCategoryid != null">
        spr_picture_categoryid,
      </if>
      <if test="sprPictureCreateTime != null">
        spr_picture_create_time,
      </if>
      <if test="sprPictureUpdateTime != null">
        spr_picture_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sprPictureId != null">
        #{sprPictureId,jdbcType=REAL},
      </if>
      <if test="sprPicturePinid != null">
        #{sprPicturePinid,jdbcType=VARCHAR},
      </if>
      <if test="sprPictureBoardid != null">
        #{sprPictureBoardid,jdbcType=VARCHAR},
      </if>
      <if test="sprPictureBucket != null">
        #{sprPictureBucket,jdbcType=VARCHAR},
      </if>
      <if test="sprPictureKey != null">
        #{sprPictureKey,jdbcType=VARCHAR},
      </if>
      <if test="sprPictureType != null">
        #{sprPictureType,jdbcType=VARCHAR},
      </if>
      <if test="sprPictureWidth != null">
        #{sprPictureWidth,jdbcType=INTEGER},
      </if>
      <if test="sprPictureHeight != null">
        #{sprPictureHeight,jdbcType=INTEGER},
      </if>
      <if test="sprPictureRatio != null">
        #{sprPictureRatio,jdbcType=DOUBLE},
      </if>
      <if test="sprPictureReads != null">
        #{sprPictureReads,jdbcType=INTEGER},
      </if>
      <if test="sprPictureLikes != null">
        #{sprPictureLikes,jdbcType=INTEGER},
      </if>
      <if test="sprPictureCategoryid != null">
        #{sprPictureCategoryid,jdbcType=INTEGER},
      </if>
      <if test="sprPictureCreateTime != null">
        #{sprPictureCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sprPictureUpdateTime != null">
        #{sprPictureUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.flymegoc.model.SprPictureExample" resultType="java.lang.Long">
    select count(*) from spr_picture
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update spr_picture
    <set>
      <if test="record.sprPictureId != null">
        spr_picture_id = #{record.sprPictureId,jdbcType=REAL},
      </if>
      <if test="record.sprPicturePinid != null">
        spr_picture_pinid = #{record.sprPicturePinid,jdbcType=VARCHAR},
      </if>
      <if test="record.sprPictureBoardid != null">
        spr_picture_boardid = #{record.sprPictureBoardid,jdbcType=VARCHAR},
      </if>
      <if test="record.sprPictureBucket != null">
        spr_picture_bucket = #{record.sprPictureBucket,jdbcType=VARCHAR},
      </if>
      <if test="record.sprPictureKey != null">
        spr_picture_key = #{record.sprPictureKey,jdbcType=VARCHAR},
      </if>
      <if test="record.sprPictureType != null">
        spr_picture_type = #{record.sprPictureType,jdbcType=VARCHAR},
      </if>
      <if test="record.sprPictureWidth != null">
        spr_picture_width = #{record.sprPictureWidth,jdbcType=INTEGER},
      </if>
      <if test="record.sprPictureHeight != null">
        spr_picture_height = #{record.sprPictureHeight,jdbcType=INTEGER},
      </if>
      <if test="record.sprPictureRatio != null">
        spr_picture_ratio = #{record.sprPictureRatio,jdbcType=DOUBLE},
      </if>
      <if test="record.sprPictureReads != null">
        spr_picture_reads = #{record.sprPictureReads,jdbcType=INTEGER},
      </if>
      <if test="record.sprPictureLikes != null">
        spr_picture_likes = #{record.sprPictureLikes,jdbcType=INTEGER},
      </if>
      <if test="record.sprPictureCategoryid != null">
        spr_picture_categoryid = #{record.sprPictureCategoryid,jdbcType=INTEGER},
      </if>
      <if test="record.sprPictureCreateTime != null">
        spr_picture_create_time = #{record.sprPictureCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sprPictureUpdateTime != null">
        spr_picture_update_time = #{record.sprPictureUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update spr_picture
    set spr_picture_id = #{record.sprPictureId,jdbcType=REAL},
      spr_picture_pinid = #{record.sprPicturePinid,jdbcType=VARCHAR},
      spr_picture_boardid = #{record.sprPictureBoardid,jdbcType=VARCHAR},
      spr_picture_bucket = #{record.sprPictureBucket,jdbcType=VARCHAR},
      spr_picture_key = #{record.sprPictureKey,jdbcType=VARCHAR},
      spr_picture_type = #{record.sprPictureType,jdbcType=VARCHAR},
      spr_picture_width = #{record.sprPictureWidth,jdbcType=INTEGER},
      spr_picture_height = #{record.sprPictureHeight,jdbcType=INTEGER},
      spr_picture_ratio = #{record.sprPictureRatio,jdbcType=DOUBLE},
      spr_picture_reads = #{record.sprPictureReads,jdbcType=INTEGER},
      spr_picture_likes = #{record.sprPictureLikes,jdbcType=INTEGER},
      spr_picture_categoryid = #{record.sprPictureCategoryid,jdbcType=INTEGER},
      spr_picture_create_time = #{record.sprPictureCreateTime,jdbcType=TIMESTAMP},
      spr_picture_update_time = #{record.sprPictureUpdateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.flymegoc.model.SprPicture">
    update spr_picture
    <set>
      <if test="sprPicturePinid != null">
        spr_picture_pinid = #{sprPicturePinid,jdbcType=VARCHAR},
      </if>
      <if test="sprPictureBoardid != null">
        spr_picture_boardid = #{sprPictureBoardid,jdbcType=VARCHAR},
      </if>
      <if test="sprPictureBucket != null">
        spr_picture_bucket = #{sprPictureBucket,jdbcType=VARCHAR},
      </if>
      <if test="sprPictureKey != null">
        spr_picture_key = #{sprPictureKey,jdbcType=VARCHAR},
      </if>
      <if test="sprPictureType != null">
        spr_picture_type = #{sprPictureType,jdbcType=VARCHAR},
      </if>
      <if test="sprPictureWidth != null">
        spr_picture_width = #{sprPictureWidth,jdbcType=INTEGER},
      </if>
      <if test="sprPictureHeight != null">
        spr_picture_height = #{sprPictureHeight,jdbcType=INTEGER},
      </if>
      <if test="sprPictureRatio != null">
        spr_picture_ratio = #{sprPictureRatio,jdbcType=DOUBLE},
      </if>
      <if test="sprPictureReads != null">
        spr_picture_reads = #{sprPictureReads,jdbcType=INTEGER},
      </if>
      <if test="sprPictureLikes != null">
        spr_picture_likes = #{sprPictureLikes,jdbcType=INTEGER},
      </if>
      <if test="sprPictureCategoryid != null">
        spr_picture_categoryid = #{sprPictureCategoryid,jdbcType=INTEGER},
      </if>
      <if test="sprPictureCreateTime != null">
        spr_picture_create_time = #{sprPictureCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sprPictureUpdateTime != null">
        spr_picture_update_time = #{sprPictureUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where spr_picture_id = #{sprPictureId,jdbcType=REAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.flymegoc.model.SprPicture">
    update spr_picture
    set spr_picture_pinid = #{sprPicturePinid,jdbcType=VARCHAR},
      spr_picture_boardid = #{sprPictureBoardid,jdbcType=VARCHAR},
      spr_picture_bucket = #{sprPictureBucket,jdbcType=VARCHAR},
      spr_picture_key = #{sprPictureKey,jdbcType=VARCHAR},
      spr_picture_type = #{sprPictureType,jdbcType=VARCHAR},
      spr_picture_width = #{sprPictureWidth,jdbcType=INTEGER},
      spr_picture_height = #{sprPictureHeight,jdbcType=INTEGER},
      spr_picture_ratio = #{sprPictureRatio,jdbcType=DOUBLE},
      spr_picture_reads = #{sprPictureReads,jdbcType=INTEGER},
      spr_picture_likes = #{sprPictureLikes,jdbcType=INTEGER},
      spr_picture_categoryid = #{sprPictureCategoryid,jdbcType=INTEGER},
      spr_picture_create_time = #{sprPictureCreateTime,jdbcType=TIMESTAMP},
      spr_picture_update_time = #{sprPictureUpdateTime,jdbcType=TIMESTAMP}
    where spr_picture_id = #{sprPictureId,jdbcType=REAL}
  </update>
</mapper>