<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flymegoc.mapper.SprUserMapper">
  <resultMap id="BaseResultMap" type="com.flymegoc.model.SprUser">
    <id column="spr_user_id" jdbcType="INTEGER" property="sprUserId" />
    <result column="spr_user_name" jdbcType="VARCHAR" property="sprUserName" />
    <result column="spr_user_password" jdbcType="VARCHAR" property="sprUserPassword" />
    <result column="spr_user_email" jdbcType="VARCHAR" property="sprUserEmail" />
    <result column="spr_user_pic" jdbcType="VARCHAR" property="sprUserPic" />
    <result column="spr_user_phone" jdbcType="INTEGER" property="sprUserPhone" />
    <result column="spr_user_age" jdbcType="INTEGER" property="sprUserAge" />
    <result column="spr_create_time" jdbcType="TIMESTAMP" property="sprCreateTime" />
    <result column="spr_update_time" jdbcType="TIMESTAMP" property="sprUpdateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    spr_user_id, spr_user_name, spr_user_password, spr_user_email, spr_user_pic, spr_user_phone, 
    spr_user_age, spr_create_time, spr_update_time
  </sql>
  <select id="selectByExample" parameterType="com.flymegoc.model.SprUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from spr_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from spr_user
    where spr_user_id = #{sprUserId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from spr_user
    where spr_user_id = #{sprUserId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.flymegoc.model.SprUserExample">
    delete from spr_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.flymegoc.model.SprUser">
    insert into spr_user (spr_user_id, spr_user_name, spr_user_password, 
      spr_user_email, spr_user_pic, spr_user_phone, 
      spr_user_age, spr_create_time, spr_update_time
      )
    values (#{sprUserId,jdbcType=INTEGER}, #{sprUserName,jdbcType=VARCHAR}, #{sprUserPassword,jdbcType=VARCHAR}, 
      #{sprUserEmail,jdbcType=VARCHAR}, #{sprUserPic,jdbcType=VARCHAR}, #{sprUserPhone,jdbcType=INTEGER}, 
      #{sprUserAge,jdbcType=INTEGER}, #{sprCreateTime,jdbcType=TIMESTAMP}, #{sprUpdateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.flymegoc.model.SprUser">
    insert into spr_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sprUserId != null">
        spr_user_id,
      </if>
      <if test="sprUserName != null">
        spr_user_name,
      </if>
      <if test="sprUserPassword != null">
        spr_user_password,
      </if>
      <if test="sprUserEmail != null">
        spr_user_email,
      </if>
      <if test="sprUserPic != null">
        spr_user_pic,
      </if>
      <if test="sprUserPhone != null">
        spr_user_phone,
      </if>
      <if test="sprUserAge != null">
        spr_user_age,
      </if>
      <if test="sprCreateTime != null">
        spr_create_time,
      </if>
      <if test="sprUpdateTime != null">
        spr_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sprUserId != null">
        #{sprUserId,jdbcType=INTEGER},
      </if>
      <if test="sprUserName != null">
        #{sprUserName,jdbcType=VARCHAR},
      </if>
      <if test="sprUserPassword != null">
        #{sprUserPassword,jdbcType=VARCHAR},
      </if>
      <if test="sprUserEmail != null">
        #{sprUserEmail,jdbcType=VARCHAR},
      </if>
      <if test="sprUserPic != null">
        #{sprUserPic,jdbcType=VARCHAR},
      </if>
      <if test="sprUserPhone != null">
        #{sprUserPhone,jdbcType=INTEGER},
      </if>
      <if test="sprUserAge != null">
        #{sprUserAge,jdbcType=INTEGER},
      </if>
      <if test="sprCreateTime != null">
        #{sprCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sprUpdateTime != null">
        #{sprUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.flymegoc.model.SprUserExample" resultType="java.lang.Long">
    select count(*) from spr_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update spr_user
    <set>
      <if test="record.sprUserId != null">
        spr_user_id = #{record.sprUserId,jdbcType=INTEGER},
      </if>
      <if test="record.sprUserName != null">
        spr_user_name = #{record.sprUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.sprUserPassword != null">
        spr_user_password = #{record.sprUserPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.sprUserEmail != null">
        spr_user_email = #{record.sprUserEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.sprUserPic != null">
        spr_user_pic = #{record.sprUserPic,jdbcType=VARCHAR},
      </if>
      <if test="record.sprUserPhone != null">
        spr_user_phone = #{record.sprUserPhone,jdbcType=INTEGER},
      </if>
      <if test="record.sprUserAge != null">
        spr_user_age = #{record.sprUserAge,jdbcType=INTEGER},
      </if>
      <if test="record.sprCreateTime != null">
        spr_create_time = #{record.sprCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sprUpdateTime != null">
        spr_update_time = #{record.sprUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update spr_user
    set spr_user_id = #{record.sprUserId,jdbcType=INTEGER},
      spr_user_name = #{record.sprUserName,jdbcType=VARCHAR},
      spr_user_password = #{record.sprUserPassword,jdbcType=VARCHAR},
      spr_user_email = #{record.sprUserEmail,jdbcType=VARCHAR},
      spr_user_pic = #{record.sprUserPic,jdbcType=VARCHAR},
      spr_user_phone = #{record.sprUserPhone,jdbcType=INTEGER},
      spr_user_age = #{record.sprUserAge,jdbcType=INTEGER},
      spr_create_time = #{record.sprCreateTime,jdbcType=TIMESTAMP},
      spr_update_time = #{record.sprUpdateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.flymegoc.model.SprUser">
    update spr_user
    <set>
      <if test="sprUserName != null">
        spr_user_name = #{sprUserName,jdbcType=VARCHAR},
      </if>
      <if test="sprUserPassword != null">
        spr_user_password = #{sprUserPassword,jdbcType=VARCHAR},
      </if>
      <if test="sprUserEmail != null">
        spr_user_email = #{sprUserEmail,jdbcType=VARCHAR},
      </if>
      <if test="sprUserPic != null">
        spr_user_pic = #{sprUserPic,jdbcType=VARCHAR},
      </if>
      <if test="sprUserPhone != null">
        spr_user_phone = #{sprUserPhone,jdbcType=INTEGER},
      </if>
      <if test="sprUserAge != null">
        spr_user_age = #{sprUserAge,jdbcType=INTEGER},
      </if>
      <if test="sprCreateTime != null">
        spr_create_time = #{sprCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sprUpdateTime != null">
        spr_update_time = #{sprUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where spr_user_id = #{sprUserId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.flymegoc.model.SprUser">
    update spr_user
    set spr_user_name = #{sprUserName,jdbcType=VARCHAR},
      spr_user_password = #{sprUserPassword,jdbcType=VARCHAR},
      spr_user_email = #{sprUserEmail,jdbcType=VARCHAR},
      spr_user_pic = #{sprUserPic,jdbcType=VARCHAR},
      spr_user_phone = #{sprUserPhone,jdbcType=INTEGER},
      spr_user_age = #{sprUserAge,jdbcType=INTEGER},
      spr_create_time = #{sprCreateTime,jdbcType=TIMESTAMP},
      spr_update_time = #{sprUpdateTime,jdbcType=TIMESTAMP}
    where spr_user_id = #{sprUserId,jdbcType=INTEGER}
  </update>
</mapper>